@model string
@{
    var url = Request.Url.AbsolutePath;
}
@if (!User.Identity.IsAuthenticated)
{
    <text>Please <a href="/Account/Login?ReturnUrl=@Request.Url.AbsolutePath" title="Login to rate">Login</a> to rate</text>
    return;
}

    <div id="ratingDiv" class="smallText">
        Poor
        <img src="/images/whitestar.gif" alt="" class="ratingStar" data-value="1" />
        <img src="/images/whitestar.gif" alt="" class="ratingStar" data-value="2" />
        <img src="/images/whitestar.gif" alt="" class="ratingStar" data-value="3" />
        <img src="/images/whitestar.gif" alt="" class="ratingStar" data-value="4" />
        <img src="/images/whitestar.gif" alt="" class="ratingStar" data-value="5" /> Excellent
        <label id="lblResult"></label>
    </div>
    <style type="text/css">
        .ratingStar {
            cursor: pointer;
        }
    </style>
    
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.4.2.min.js"
            temp_src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-2.1.4.js"></script>

    <script type="text/javascript">
    var clickedFlag = false;
    $(".ratingStar").mouseover(function () {
        $(this).attr("src", "/images/yellowstar.gif").prevAll("img.ratingStar").attr("src", "/images/yellowstar.gif");
    });
    $(".ratingStar, #radingDiv").mouseout(function () {
        $(this).attr("src", "/images/whitestar.gif");
    });
    $("#ratingDiv").mouseout(function () {
        if (!clickedFlag) {
            $(".ratingStar").attr("src", "/images/whitestar.gif");
        }
    });
    $(".ratingStar").click(function () {
        clickedFlag = true;
        $(".ratingStar").unbind("mouseout mouseover click").css("cursor", "default");

        var url = "/Home/SendRating?r=" + $(this).attr("data-value") + "&s=5&id=@Model&url=@url";
        $.post(url, null, function (data) {
            $("#lblResult").html(data);
        });
    });
    $("#lblResult").ajaxStart(function () {
        $("#lblResult").html("Processing ....");
    });
    $("#lblResult").ajaxError(function () {
        $("#lblResult").html("<br />Error occured.");
    });
    </script>

